@import url(./reset.css);

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-grey: #bebebe;
  --app-white: #f1f1f1;
}

/*----------- Container -------*/

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

#map {
  height: 100vh;
  width: 100vw;
}

/* marker */

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


#fly-btn {
  position: relative;
  bottom: 90px;
  left: 1000px;
  visibility: hidden;
  margin: 0;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: #1DA1F2;
}

#fly-btn i {
  font-size: 30px;
  color: #fff;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {display: none;}

